.form {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
    padding: 20px;
    font-size: 15px;
}

.form input{
    font-weight: bolder;
}

.upload{
    margin-bottom: 5px;
}

.form input:hover{
    cursor: pointer;
}

.submit{
    width:20%;
    height: 20px;
    font-weight: bolder;
    background-color: #1f6361;
    border-radius: 10px;
    border: none;
    color: white;
}

.close{
    width: 10px !important;
    position: fixed;
    right: 22px;
    bottom: 80px;
    background-color: transparent !important;
    cursor: pointer;
    border: none;
}

.message{
    color: black;
    font-weight: bolder;
}