.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
}

.form input {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: bold;
    border-top:none;
    border-left:none;
    border-right:none;
    font-size: 20px;
    margin-bottom: 15px;
}

.close{
    width: 10px !important;
    position: absolute;
    right: 25px;
    bottom: 285px;
    background-color: transparent !important;
    cursor: pointer;
}
.form button{
    width:50%;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}