.navbar{
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
    background-color: transparent
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    gap: 5rem;
}

.navbar li {
    margin: 5px;
    padding: 5px;
    height: 20px;
    transition: height 500ms ease-in-out;
}

.navbar li:hover{
    height: 50px;
    transition: height 500ms ease-in-out;
    
}